@import "../../styles/mixins";

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 32px;

  @include mediaTablet {
    padding: 20px;
  }
  @include mediaMobile {
    padding: 10px 20px;
    grid-template-columns: 1fr 1fr;
  }

  &__logo {
    svg {
      @include mediaTablet {
        width: 25px;
      }
      @include mediaMobile {
        width: 15px;
      }
    }
  }

  &__links {
    justify-self: center;
    align-self: center;

    @include mediaMobile {
      display: none;
    }
  }
  &__link {
    color: #a0a3a7;
    margin-right: 65px;
    @include transitionAll;

    @include mediaTablet {
      margin-right: 30px;
    }

    &:hover {
      color: rgba(#a0a3a7, 0.7);
    }

    &:last-child {
      margin: 0;
    }
  }

  &__burger {
    &-menu {
      display: none;

      @include mediaMobile {
        display: block;
        justify-self: right;
        align-self: center;
      }
    }
    &-stroke {
      position: relative;
      height: 1px;
      width: 10px;
      background-color: white;
      border-radius: 5px;

      &:after {
        content: "";
        width: 10px;
        height: 1px;
        position: absolute;
        background-color: white;
        top: -3px;
      }
      &:before {
        content: "";
        width: 10px;
        height: 1px;
        position: absolute;
        background-color: white;
        bottom: -3px;
      }
    }
  }

  &__button {
    justify-self: right;
    padding: 16px 24px;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #e1e1e1, #ffffff);
    color: #24282e;
    @include transitionAll;

    &:hover {
      background: linear-gradient(
        to right,
        rgba(#e1e1e1, 0.7),
        rgba(#ffffff, 0.7)
      );
      cursor: pointer;
    }

    @include mediaTablet {
      padding: 10px 18px;
    }
    @include mediaMobile {
      display: none;
    }
  }
}
