@import "../../styles/mixins";

.slider {
  color: #f2f4f7;
  &__container {
    @include container;
  }

  &__content {
    @include flex(center, center, column);
    &-title {
      font-weight: 300;
      @include fontSize(72);
      text-align: center;
      margin-bottom: 32px;

      @include mediaTablet {
        @include fontSize(54);
        margin-bottom: 20px;
      }
      @include mediaMobile {
        @include fontSize(32);
        margin-bottom: 15px;
      }
    }

    &-subtitle {
      font-weight: 300;
      @include fontSize(18);
      margin-bottom: 80px;
      text-align: center;

      @include mediaTablet {
        @include fontSize(16);
        margin-bottom: 20px;
      }

      @include mediaMobile {
        @include fontSize(13);
      }
    }
  }
  &__actions {
    @include flex(center, center, column);
    gap: 65px 0;
  }

  &__btn {
    width: 240px;
    padding: 16px 32px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #fc4060, #8061fd);
    border-image-slice: 1;
    background: linear-gradient(to right, #fc4060, #8061fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include transitionAll;
    font-weight: 400;
    @include fontSize(18);

    &:hover {
      border-image: linear-gradient(to left, #fc4060, #8061fd);
      border-image-slice: 1;
      background: linear-gradient(to left, #fc4060, #8061fd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }
  }

  &__dots {
    display: flex;
    gap: 32px;
  }

  &__dot {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(196, 196, 196, 0.16);
    border-radius: 50%;

    &--active {
      border-color: white;
    }
  }
}
